<footer id="footer">

  <div class="container">

    <div class="flex">

      <nav class="nav-footer">
        <ul class="flex">
          <li class="nav-footer--a"><a href="/" title="Home">Home</a></li>
          <li class="nav-footer--a">
            <a href="chico" title="Chico" class="collapse">Chico</a>
            <ul>
              <li class="nav-footer--a"><a href="#" title="Speakers">Speakers</a></li>
              <li class="nav-footer--a"><a href="#" title="Details">Details</a></li>
              <li class="nav-footer--a"><a href="#" title="Board">Board</a></li>
              <li class="nav-footer--a"><a href="#" title="Apply to Speak">Apply to Speak</a></li>
            </ul>
          </li>
          <li class="nav-footer--a">
            <a href="portolio" title="Portola" class="collapse">Portola</a>
            <ul>
              <li class="nav-footer--a"><a href="#" title="Speakers">Speakers</a></li>
              <li class="nav-footer--a"><a href="#" title="Details">Details</a></li>
              <li class="nav-footer--a"><a href="#" title="Board">Board</a></li>
              <li class="nav-footer--a"><a href="#" title="Apply to Speak">Apply to Speak</a></li>
            </ul>
          </li>
          <li class="nav-footer--a">
            <a href="about" title="About" class="collapse">About</a>
            <ul>
              <li class="nav-footer--a"><a href="#" title="Statement of Faith">Statement of Faith</a></li>
              <li class="nav-footer--a"><a href="#" title="History">History</a></li>
              <li class="nav-footer--a"><a href="#" title="Mission Statement">Mission Statement</a></li>
            </ul>
          </li>
          <li class="nav-footer--a"><a href="contact" title="Contact">Contact</a></li>
        </ul>
      </nav>

      <ul class="social--tabs">
        <li class="social--tabs-facebook"><a href="#" title="Share on Facebook"><span class="icon"><img src="{{theme.link}}/img/social--facebook-white.png"></span> Share</a></li>
        <li class="social--tabs-twitter"><a href="#" title="Share on Twitter"><span class="icon"><img src="{{theme.link}}/img/social--twitter-white.png"></span> Share</a></li>
        <li class="social--tabs-linkedin"><a href="#" title="Share on LinkedIn"><span class="icon"><img src="{{theme.link}}/img/social--linkedin-white.png"></span> Share</a></li>
      </ul>

    </div>

    <p class="text-centered collapse">Copyright {{"now"|date('Y')}}</p>

    <p class="text-centered disclaimer-info"><a href="/terms-of-service" title="Terms of Service">Terms of Service</a> &amp; <a href="/privacy-policy" title="Privacy Policy">Privacy Policy</a></p>

  </div>

</footer>

{{ function('wp_footer') }}
